script
  $(document).ready(function() {
      var socket = io.connect("http://#{HOST}:#{PORT}");
      var content = $('#content');

      socket.on('connect', function() {
          console.log('connected');
          socket.emit('publish', 'game.#{gameid}.user',
            JSON.stringify({nick: "#{nick}", ts: Date.now() })
          );
      });

      socket.on('message', function(message, data){
          content.prepend(message + '<br />' + data);
      }) ;

      socket.on('disconnect', function() {
          console.log('disconnected');
          content.html("<b>Disconnected!</b>");
      });


      $("#subscribe").submit(function() {
        socket.emit('psubscribe', $('#subscribe #channel').val());
        return false;
      });

      $(".action").click(function() {
        socket.emit('publish', 'game.#{gameid}.action.' + $(this).data('action'), 
           JSON.stringify({ nick: "#{nick}", ts: Date.now() })
        );
        return false;
      });

  });
  
h2 Yo mama! Welcome #{nick}

.action(data-action="left")
  input(type='button', value="Point Left!")
.action(data-action="right") 
  input(type='button', value="Point Right!")
.action(data-action="up")
  input(type='button', value="Jump Up!")
.action(data-action="hi")
  input(type='button', value="Say Hi!")
